/*  한글 시계 시각 표시 */
.clock {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.clock__table {
  padding: 20px;
  border-spacing: 10px;
  border-radius: 30px;
  backdrop-filter: blur(2px);
  font-family: "Nanum Myeongjo", serif;
}

.clock__txt {
  padding: 5px;
  opacity: 0.2;
  text-align: center;
  font-size: 45px;
}

.text-brighter {
  opacity: 1;
}

.clock__txt-halfDay {
  color: #a5d4dc;
}
