/* 

  # greeting 메세지를 위한 css

*/

.greeting {
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Jua", sans-serif;
  font-size: 24px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting__form {
  width: 370px;
  height: 100%;
}

.greeting__form__input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  text-align: center;
  color: white;
  font-family: "Jua", sans-serif;
  font-size: 20px;
}

.greeting__form__input::placeholder {
  color: white;
  font-family: "Jua", sans-serif;
  font-size: 20px;
}

.greeting__form__input:focus {
  outline: none;
}

.showing-off {
  display: none;
}

.showing-on {
  display: block;
}
