/* header μ„Έν… */
header {
  display: flex;
  flex-direction: row-reverse;
}

#sidebar-openBtn {
  font-size: 20px;
  padding: 2px;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 0.2;
}

#sidebar-openBtn:focus {
  outline: none;
}

#sidebar-openBtn:hover {
  opacity: 0.8;
}

#sidebar-openBtn:active {
  transform: translateY(2px);
}
