/* Fonts import */

@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Myeongjo:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.greeting-container {
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Jua", sans-serif;
  font-size: 30px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-form {
  width: 370px;
  height: 100%;
}

.greeting-input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  text-align: center;
  color: white;
  font-size: 16px;
}

.greeting-input::placeholder {
  color: white;
  font-size: 16px;
}

.greeting-input:focus {
  outline: none;
}

.clockTable {
  border-spacing: 10px;
  border-radius: 30px;
  backdrop-filter: blur(2px);
  font-family: "Nanum Myeongjo", serif;
}

/* greeting 메세지를 위한 css */
.showing-off {
  display: none;
}

.showing-on {
  display: block;
}

/*  한글 시계 시각 표시를 위한 css */
.clockTxt {
  opacity: 0.2;
  text-align: center;
  font-size: 30px;
}

.text-brighter {
  opacity: 1;
}

.clockHalfDay {
  color: #7dc9e7;
}

/* 배경화면 이미지를 위한 css */
.backgroundIMG {
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
  animation: fadeIn 0.5s linear;
}
